<!doctype html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CSIE Student- Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/iriy-admin.min.css">
    <link rel="stylesheet" href="Assets/demo/css/demo.css">
    <link rel="stylesheet" href="Assets/assets/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="Assets/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="Assets/css/plugins/rickshaw.min.css">
    <link rel="stylesheet" href="Assets/css/plugins/morris.min.css">

    <!--[if lt IE 9]>
        <script src="Assets/assets/libs/html5shiv/html5shiv.min.js"></script>
        <script src="Assets/assets/libs/respond/respond.min.js"></script>
        <![endif]-->
    <style type="text/css">
        .ms {
            font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
        }
        .notification {
            font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
        }
        .ifr {
            overflow: hidden;
            height: 100%;
            width: 100%;
            height: 900px;
        }
        textarea::-webkit-input-placeholder:afterxx {
            content: "line@ \A line#";
            /* 这里 \A 形成回车符号  */
            
            color: red;
        }
        ;
    </style>
    <script type="text/javascript">
        function httpGet(theUrl) {
            var xmlHttp = null;

            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, false);
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }
        var loader = function(event, url) {
            var gets = httpGet('../' + url);
            document.getElementById('load_v').innerHTML = gets;
            var x = document.getElementById(e.target.id).childNodes[0];
            x.setAttribute("style", "active");
        };
        var AssetsLoader = function(url) {
            var gets = httpGet('../getAssets');
            //https://hackpad.com/-30-CVE--55wdYEJDxwI
            if(JSON.parse(gets).url == "none"){
                document.getElementById('load_v').innerHTML = "<p class='ms'>教授尚未新增資源，您可以稍後再回來。</p>";
            }else{
                var vpx = '<iframe src="' + JSON.parse(gets).url + '" class="ifr" frameborder="0" height="100%" width="100%"></iframe>';
                document.getElementById('load_v').innerHTML = vpx;
            }
        };
    </script>
</head>

<body class="">
    <header>
        <nav class="navbar navbar-default navbar-static-top no-margin" role="navigation">
            <div class="navbar-brand-group">
                <a class="navbar-sidebar-toggle navbar-link" data-sidebar-toggle>
                    <i class="fa fa-lg fa-fw fa-bars"></i>
                </a>
                <a class="navbar-brand hidden-xxs" href="#">
                    <span class="sc-visible">
                        I
                    </span>
                    <span class="sc-hidden">
                        <span class="semi-bold ms">和春資工系學生</span>
                    </span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-nav-expanded pull-right margin-md-right">
                <li class="dropdown dropdown-xs-center">
                    <a data-toggle="dropdown" class="dropdown-toggle" onclick="cleanNotReadMessage()" href="javascript:;">
                        <i class="glyphicon glyphicon-globe"></i>
                        <span id="messageCount" class="badge badge-up badge-danger badge-small">0</span>
                    </a>
                    <ul id="messageAll" class="dropdown-menu dropdown-notifications pull-right">
                        <li id="alertMessageCount" class="dropdown-title bg-inverse ms">新通知 (0)</li>
                        <!---->
                        <li>
                            <a href="javascript:;" class="notification">
                                <div class="notification-thumb pull-left">
                                    <i class="fa fa-exclamation fa-2x text-danger"></i>
                                </div>
                                <div class="notification-body">
                                    <strong>沒有訊息的狀態</strong>
                                    <br>
                                    <small class="text-muted">時間: <script>document.write(new Date())</script></small>
                                </div>
                            </a>
                        </li>
                        <!---->
                        <li class="dropdown-footer ms">
                            <a href="javascript: loader(event,'Response');" onclick="tores()"><i class="fa fa-share"></i> 查看所有訊息</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle navbar-user" href="javascript:;">
                        <img class="img-circle" src="<%= gravatar %>">
                        <span class="hidden-xs ms"><%= name %> 同學</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right-xs ms">
                        <li class="arrow"></li>
                        <li><a href="#" onclick="loader(event,'ProfileSetting')"><i class="fa fa-fw fa-cog"></i> 個人資料設定</a>
                        </li>
                        <li><a href="#" onclick="loader(event,'PasswordReset')"><i class="fa fa-fw fa-cog"></i> 密碼重新設定</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/signout"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="page-wrapper">
        <aside class="sidebar sidebar-default">
            <div class="sidebar-profile">
                <img class="img-circle profile-image" src="<%= gravatar %>">

                <div class="profile-body ms">
                    <h4><%= name %> 同學</h4>

                    <div class="sidebar-user-links" style="color:grey">
                        五工二甲
                    </div>
                </div>
            </div>
            <nav class="ms">
                <h5 class="sidebar-header ms">所有分頁籤</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <!-- active 選中-->
                        <a href="/" title="Dashboards">
                            <i class="fa fa-lg fa-fw fa-home"></i> 主儀表板
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Users">
                            <i class="fa fa-lg fa-fw fa-user"></i> 學生管理
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#" onclick="loader(event,'ProfileSetting')" title="Members">
                                    <i class="fa fa-fw fa-caret-right"></i> 個人資料設定
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'PasswordReset')" title="Profile">
                                    <i class="fa fa-fw fa-caret-right"></i> 密碼重設
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" onclick="AssetsLoader()" title="Orders">
                            <i class="fa fa-lg fa-fw fa-graduation-cap"></i> 課程資源
                            <span class="label label-danger pull-right">實用</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Users">
                            <i class="fa fa-lg fa-fw fa-book"></i> 平時測驗
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#" onclick="loader(event,'UsuallyTest')" title="Inbox">
                                    <i class="fa fa-fw fa-caret-right"></i> 開始平時測驗
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'UsuallyTestScores')" title="Message">
                                    <i class="fa fa-fw fa-caret-right"></i> 平時測驗成績
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Forms">
                            <i class="fa fa-lg fa-fw fa-edit"></i> 每週測驗
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#" onclick="loader(event,'WeekTest')" title="Form Layouts">
                                    <i class="fa fa-fw fa-caret-right"></i> 本周測驗題目
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'WeekTestAnswer')" title="Form Layouts">
                                    <i class="fa fa-fw fa-caret-right"></i> 上周測驗解答
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Tables">
                            <i class="fa fa-lg fa-fw  fa-lightbulb-o"></i> 平時作業
                        </a>
                        <ul class="nav-sub">
                            <li id="homework">
                                <a href="#" onclick="loader(event,'Homework')" title="Basic Tables">
                                    <i class="fa fa-fw fa-caret-right"></i> 作業內容/提交
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" onclick="loader(event,'Response')" title="Tables">
                            <i class="fa fa-lg fa-fw fa-bullhorn"></i> 消息回應
                            <span class="label label-success pull-right">0</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#" onclick="loader(event,'Question')" title="Pages">
                            <i class="fa fa-lg fa-fw  fa-question"></i> 問題反映
                        </a>
                    </li>
                </ul>
                <h5 class="sidebar-header">目前狀態</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-fw fa-circle text-success"></i> 資工系學生
                        </a>
                    </li>
                </ul>
                <h5 class="sidebar-header">授課教師(Teacher)</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-fw fa-circle text-success"></i> 李建磐 Keyboard. Lee
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-Start id="load_v"-->
        <div id="load_v" class="page-content">
            <div class="page-subheading page-subheading-md">
                <ol class="breadcrumb ms">
                    <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
                    </li>
                </ol>
            </div>

            <div class="container-fluid-md">
                <div class="col-md-7 col-lg-8">
                    <div class="panel panel-default panel-profile-details">
                        <div class="panel-body">
                            <div class="col-sm-5 text-center">
                                <img alt="image" class="img-circle img-profile" width="128px" src="<%= gravatar %>">
                            </div>
                            <div class="col-sm-7 profile-details ms">
                                <h3><%= firstname %><%= name %></h3>
                                <h4 class="thin">Class</h4>
                                <p>
                                    <a href="javascript:;" class="text-gray text-no-decoration">
                                        <i class="fa fa-fw fa-user"></i> 五工二甲
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="panel-body ms">
                            <div class="col-sm-5">
                                <dl>
                                    <dt>Email</dt>
                                    <dd>cslag@hotmail.com.tw</dd>
                                </dl>
                                <dl class="margin-sm-bottom">
                                    <dt>學號</dt>
                                    <dd>0215161078</dd>
                                </dl>
                            </div>
                            <div class="col-sm-7">
                                <dl>
                                    <dt>狀態</dt>
                                    <dd>資訊工程系五專部</dd>
                                </dl>
                                <dl class="margin-sm-bottom">
                                    <dt>編號</dt>
                                    <dd>00178</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs nav-dark">
                        <li class="active ms"><a href="#tab1-1" data-toggle="tab">上課紀錄</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1-1" class="tab-pane tab-pane-table active">
                            <div class="table-responsive">
                                <table class="table ms">
                                    <thead>
                                        <tr>
                                            <th>課程次號</th>
                                            <th>日期</th>
                                            <th>狀態</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a>#00001</a>
                                            </td>
                                            <td>
                                                Jun 05, 11:40pm
                                            </td>
                                            <td>
                                                <span class="label label-default">正常上課</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a>#00002</a>
                                            </td>
                                            <td>
                                                Jun 06, 11:40pm
                                            </td>
                                            <td>
                                                <span class="label label label-danger">曠課</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a>#00003</a>
                                            </td>
                                            <td>
                                                Jun 07, 11:40pm
                                            </td>
                                            <td>
                                                <span class="label label-default">正常上課</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="panel panel-metric panel-metric-sm">
                        <div class="panel-body panel-body-warning">
                            <div class="metric-content metric-icon">
                                <div class="value">
                                    100%
                                </div>
                                <div class="trend">
                                    <p class="text-success ms">
                                        <i class="fa fa-chevron-up"></i> 5%
                                    </p>
                                    <strong class="ms">比上次進步</strong>
                                </div>
                                <div id="metric-sales" class="chart" style="padding: 0px; position: relative;">
                                    <canvas class="flot-base" width="302" height="110" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 302px; height: 110px;"></canvas>
                                    <canvas class="flot-overlay" width="302" height="110" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 302px; height: 110px;"></canvas>
                                </div>
                                <header>
                                    <h3 class="thin ms">平時作業</h3>
                                </header>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-metric">
                        <div class="panel-body">
                            <div class="metric-content">
                                <div class="value">
                                    89%
                                </div>
                                <div class="trend">
                                    <p class="text-success">
                                        <i class="fa fa-chevron-up"></i> 12%
                                    </p>
                                    <strong class="ms">比上次進步</strong>
                                </div>
                                <div id="metric-1" class="chart" style="padding: 0px; position: relative;">
                                    <canvas class="flot-base" width="296" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 296px; height: 135px;"></canvas>
                                    <canvas class="flot-overlay" width="296" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 296px; height: 135px;"></canvas>
                                </div>
                                <header>
                                    <h3 class="thin ms">本次平時考成績</h3>
                                </header>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <table class="table ms">
                            <tbody>
                                <tr>
                                    <td>
                                        到課率
                                    </td>
                                    <td class="valign-middle" style="min-width: 50%;">
                                        <div class="progress progress-xs">
                                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only">60 MB / 100 MB</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        請假
                                    </td>
                                    <td class="valign-middle">
                                        <div class="progress progress-xs">
                                            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-warning">
                                                <span class="sr-only">90 / 100</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        曠課
                                    </td>
                                    <td class="valign-middle">
                                        <div class="progress progress-xs">
                                            <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" role="progressbar" class="progress-bar progress-bar-success">
                                                <span class="sr-only">30 / 100</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="page-header no-margin semi-bold ms">到課次數</h4>
                                    <h1 class="semi-bold text-primary-dark no-margin-bottom">8</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <h4 class="semi-bold margin-sm-vertical ms">取三次考試成績</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        First
                                    </th>
                                    <td>
                                        89
                                    </td>
                                    <td class="text-right text-success">
                                        <i class="fa fa-caret-up margin-sm-right"></i>20%
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Second
                                    </th>
                                    <td>
                                        80
                                    </td>
                                    <td class="text-right text-danger">
                                        <i class="fa fa-caret-up margin-sm-right"></i>5%
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Third
                                    </th>
                                    <td>
                                        77
                                    </td>
                                    <td class="text-right text-muted">
                                        <i class="fa fa-sort margin-sm-right"></i>0%
                                        <!--一定是0-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Load_v-->
    </div>
    <script src="Assets/assets/libs/jquery/jquery.min.js"></script>
    <script src="Assets/assets/bs3/js/bootstrap.min.js"></script>
    <script src="Assets/assets/plugins/jquery-navgoco/jquery.navgoco.js"></script>
    <script src="Assets/js/main.js"></script>

    <!--[if lt IE 9]>
        <script src="assets/plugins/flot/excanvas.min.js"></script>
        <![endif]-->
    <script src="Assets/assets/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="Assets/demo/js/demo.js"></script>

    <script src="Assets/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="Assets/assets/plugins/jquery-jvectormap/maps/world_mill_en.js"></script>

    <!--[if gte IE 9]>-->
    <script src="Assets/assets/plugins/rickshaw/js/vendor/d3.v3.js"></script>
    <script src="Assets/assets/plugins/rickshaw/rickshaw.min.js"></script>
    <!--<![endif]-->

    <script src="Assets/assets/plugins/flot/jquery.flot.js"></script>
    <script src="Assets/assets/plugins/flot/jquery.flot.resize.js"></script>
    <script src="Assets/assets/plugins/raphael/raphael-min.js"></script>
    <script src="Assets/assets/plugins/morris/morris.min.js"></script>
    <script src="Assets/demo/js/dashboard.js"></script>
    <script type="text/javascript">
        window.addEventListener("resize", function() {
            if (window.innerWidth >= 767) {
                //test
            }
        });
        
        (function(){
            checkNotReadMessage();
        })();
        function cheageContext(arr,notifications,footer){
            var message = '';
            for(var i = 0;i<arr.length;i++){
                if(i == 6){
                    break;
                }
                console.log(arr[i].title);
                message = message.concat('<li><a href="javascript:;" class="notification"><div class="notification-thumb pull-left"><i class="fa fa-exclamation fa-2x text-danger"></i></div><div class="notification-body"><strong>'+arr[i].title+'</strong><br><small class="text-muted">'+arr[i].subtitle+'</small></div></a></li>');
            }
            console.log(message);
            document.getElementById('messageAll').innerHTML = notifications + message + footer;
        }
        /** get Message Data **/
        function checkNotReadMessage(){
            var gets = httpGet('../checkThing');
            var message = JSON.parse(gets);
            document.getElementById('messageCount').innerHTML = (message.notRead.length<6?message.notRead.length:'6+') || 0;
            var Notification = '<li id="alertMessageCount" class="dropdown-title bg-inverse ms">新通知 (0)</li>';
            var footer = '<li class="dropdown-footer ms"><a href="javascript: loader(event,"Response");" onclick="tores()"><i class="fa fa-share"></i> 查看所有訊息</a></li>'
            if(!!message.notRead.length == false){
                document.getElementById('messageAll').innerHTML = '<li id="alertMessageCount" class="dropdown-title bg-inverse ms">新通知 (0)</li><li><a href="javascript:;" class="notification"><div class="notification-thumb pull-left"><i class="fa fa-exclamation fa-2x text-danger"></i></div><div class="notification-body"><strong>沒有訊息的狀態</strong><br><small class="text-muted">時間: '+new Date()+'</small></div></a></li>'+footer;
            }else{
                cheageContext(message.notRead,Notification,footer);
                document.getElementById('alertMessageCount').innerHTML = "新通知 ("+((message.notRead.length<6?message.notRead.length:'6+')||0)+")";
            }
        }
        /** Clean Message Data**/
        function cleanNotReadMessage(){
            var gets = httpGet('../checkAll');
            document.getElementById('messageCount').innerHTML = 0;
        }
        function tores(){
            loader(event,'Response');
        }
        
        if(window.location.search == "?foward=psre&ok=1"){
                loader(event,'PasswordReset?foward=psre&ok=1');
            }else if(window.location.search == "?foward=psre&err=ps"){
                loader(event,'PasswordReset?foward=psre&err=ps');
            }else if(window.location.search == "?foward=utu&ok=1"){
                loader(event,'UsuallyTest?foward=utu&ok=1');
            }else if(window.location.search == "?foward=utu&err=1"){
                loader(event,'UsuallyTest?foward=utu&err=1');
            }else if(window.location.search == "?foward=H&ok=1"){
                loader(event,'Homework?foward=H&ok=1');
            }else if(window.location.search == "?foward=H&err=1"){
                loader(event,'Homework?foward=H&err=1');
            }
    </script>


</body>

</html>
