<div class="page-content">
    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb ms">
            <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
            </li>
        </ol>
    </div>
    <div class="page-heading page-heading-md ms">
        <h2>平時測驗 (Quiz)</h2>
    </div>
    <div class="container-fluid-md">
        <%- html %>
        <div class="row ms">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><%= data.title %></h4>

                        <p>問題採用IDEONE提交，或是回答簡述答案</p>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body"><img src="<%= data.image %>" alt="The object" width="100%">
                        <%- data.chtml %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal ms" role="form">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">繳交期限</h4>

                            <p>請注意平時考考試期限，避免鎖定考試提交。</p>
                            <div class="panel-options">
                                <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr class="course-quiz-item-harddeadline">
                                        <th>
                                            Hard Deadline </th>
                                        <td>

                                            <time class="course-assignment-deadline" data-event-title="計算機程式設計 (Computer Programming): Homework 1_表面積與體積 (Hard Deadline)" data-event-location="https://class.coursera.org/cprogramming-001/quiz/start?quiz_id=57" data-event-description="If you submit any time after the hard deadline, you will not receive credit. Note that deadlines are sometimes pushed back, so check the website for the latest information."
                                            data-event-times="20140917T153000Z/20140917T160000Z">
                                                <%= data.deadline %><!--Wed 17 Sep 2014 9:00 AM PDT--></time>
                                            <p class="course-assignment-help-text">
                                                If you submit any time after the hard deadline, you will not receive credit. </p>
                                        </td>
                                    </tr>
                                    <tr class="course-quiz-item-score">
                                        <th>Effective Score</th>
                                        <td><span>N/A</span>
                                            <p class="course-assignment-help-text">
                                                Each time that you attempt it, we'll record a score based on your performance and any penalties due to late submissions. Your effective score will be the highest score of all the <strong>allowed</strong>                                                attempts made before the hard deadline. </p>
                                        </td>
                                    </tr>
                                    <tr class="course-quiz-item-attempts">
                                        <th># of Attempts</th>
                                        <td>0 / 10</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Question</h4>
                        <%- data.qhtml %>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label class="control-label" for="exampleInputText1">IDEONE網址</label>
                                <span class="help">請提交程式碼的網址: https://ideone.com/smSDPh</span>

                                <div class="controls">
                                    <input type="text" class="form-control" id="exampleInputText1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputPassword1">輸出</label>

                                <div class="controls">
                                    <textarea rows="5" class="form-control" id="exampleInputMessage5" placeholder="範例: 7 2 3 4 5 6 8 6..." style="resize:vertical"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-danger">
                                    你應該再做最後的確認，才送出。
                                </label>
                            </div>
                            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> 送出考試</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>