<div class="page-content">
    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb ms">
            <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
            </li>
        </ol>
    </div>
    <div class="page-heading page-heading-md ms">
        <h2>平時測驗成績</h2><br><div class="progress progress-lg">
                        <% if(now.now>60){ %>
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= now.now %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= now.now %>%">
                                <span class="ms">本次平時考 <%= now.now %>分</span>
                            </div>
                        <% }else{ %>
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= now.now %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= now.now %>%">
                                <span class="ms">本次平時考 <%= now.now %>分</span>
                            </div>
                        <% }%>
                    </div>
    </div>
    <div class="container-fluid-md ms">
        <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-8">
                <div class="row ms">
                    <div class="col-xs-12 col-lg-6 ms">
                        <div class="panel panel-metric">
                            <div class="panel-body panel-body-inverse">
                                <div class="metric-content">
                                    <div class="value">
                                        <%= now.now %> 分
                                    </div>
                                    <div class="trend">
                                        <% if(progressNow.isBack){%>
                                        <p class="text-success">
                                            <i class="fa fa-chevron-up"></i>
                                        <% }else{%>
                                        <p class="text-danger">
                                            <i class="fa fa-chevron-down"></i>
                                        <% }%>
                                             <%= progressNow.now %> 分
                                        </p>
                                        <% if(progressNow.isBack){%>
                                        <strong>比上次進步</strong>
                                        <% }else{%>
                                        <strong>比上次退步</strong>
                                        <% }%>
                                    </div>
                                    <div id="metric-sales" class="chart" style="padding: 0px; position: relative;">
                                        <canvas class="flot-base" width="581" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 581px; height: 135px;"></canvas>
                                        <canvas class="flot-overlay" width="581" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 581px; height: 135px;"></canvas>
                                    </div>
                                    <header>
                                        <h3 class="thin">本次平時考分數</h3>
                                    </header>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 ms">
                        <div class="panel panel-metric">
                            <div class="panel-body panel-body-info">
                                <div class="metric-content">
                                    <div class="value">
                                        <%= last.now %> 分
                                    </div>
                                    <div class="trend">
                                        <% if(progressNow.isBack){%>
                                        <p class="text-success">
                                            <i class="fa fa-chevron-up"></i>
                                        <% }else{%>
                                        <p class="text-danger">
                                            <i class="fa fa-chevron-down"></i>
                                        <% }%> <%= progressLast.now %> 分
                                        </p>
                                        <% if(progressLast.isBack){%>
                                        <strong>比上次進步</strong>
                                        <% }else{%>
                                        <strong>比上次退步</strong>
                                        <% }%>
                                    </div>
                                    <div id="metric-orders" class="chart" style="padding: 0px; position: relative;">
                                        <canvas class="flot-base" width="581" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 581px; height: 135px;"></canvas>
                                        <canvas class="flot-overlay" width="581" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 581px; height: 135px;"></canvas>
                                    </div>
                                    <header>
                                        <h3 class="thin">上一次平時考成績</h3>
                                    </header>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">額外說明答</h3>
                    <p>接收時間 <%= feedBack.time %></p>

                    <div class="panel-options">
                        <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                        <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                        <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <h1>補充回應詳細說明</h1>
                    <hr>
                    <%- feedBack.tag%>
                </div>
            </div>
        </div>
            <div class="col-sm-6 col-md-5 col-lg-4">
            </div>
        </div>
    </div>
</div>