<!doctype html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CSIE Teacher- Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/iriy-admin.min.css">
    <link rel="stylesheet" href="Assets/demo/css/demo.css">
    <link rel="stylesheet" href="Assets/assets/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="Assets/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="Assets/css/plugins/rickshaw.min.css">
    <link rel="stylesheet" href="Assets/css/plugins/morris.min.css">
    <link rel="stylesheet" href="Assets/css/plugins/bootstrap-switch.min.css">

    <!--[if lt IE 9]>
        <script src="Assets/assets/libs/html5shiv/html5shiv.min.js"></script>
        <script src="Assets/assets/libs/respond/respond.min.js"></script>
        <![endif]-->
    <style type="text/css">
        .ms {
            font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
        }
        .notification {
            font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
        }
        .ifr {
            overflow: hidden;
            height: 100%;
            width: 100%;
            height: 900px;
        }
        textarea::-webkit-input-placeholder:afterxx {
            content: "line@ \A line#";
            /* 这里 \A 形成回车符号  */
            
            color: red;
        }
        ;
    </style>
    <script type="text/javascript">
        function httpGet(theUrl) {
            var xmlHttp = null;

            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, false);
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }
        var loader = function(event, url) {
            var gets = httpGet('../' + url);
            document.getElementById('load_v').innerHTML = gets;
            var x = document.getElementById(e.target.id).childNodes[0];
            x.setAttribute("style", "active");
        };
        var AssetsLoader = function(url) {
            var vpx = '<iframe src="' + url + '" class="ifr" frameborder="0" height="100%" width="100%"></iframe>';
            document.getElementById('load_v').innerHTML = vpx;
        };
    </script>
</head>

<body class="">
    <header>
        <nav class="navbar navbar-default navbar-static-top no-margin" role="navigation">
            <div class="navbar-brand-group">
                <a class="navbar-sidebar-toggle navbar-link" data-sidebar-toggle>
                    <i class="fa fa-lg fa-fw fa-bars"></i>
                </a>
                <a class="navbar-brand hidden-xxs" href="#">
                    <span class="sc-visible">
                        I
                    </span>
                    <span class="sc-hidden">
                        <span class="semi-bold ms">和春資工系教授</span>
                    </span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-nav-expanded pull-right margin-md-right">
                <li class="dropdown dropdown-xs-center">
                    <a data-toggle="dropdown" class="dropdown-toggle" onclick="cleanNotReadMessage()" href="javascript:;">
                        <i class="glyphicon glyphicon-globe"></i>
                        <span id="messageCount" class="badge badge-up badge-danger badge-small">0</span>
                    </a>
                    <ul id="messageAll" class="dropdown-menu dropdown-notifications pull-right">
                        <li id="alertMessageCount" class="dropdown-title bg-inverse ms">新通知 (0)</li>
                        <!---->
                        <li>
                            <a href="javascript:;" class="notification">
                                <div class="notification-thumb pull-left">
                                    <i class="fa fa-exclamation fa-2x text-danger"></i>
                                </div>
                                <div class="notification-body">
                                    <strong>沒有訊息的狀態</strong>
                                    <br>
                                    <small class="text-muted">時間: <script>document.write(new Date())</script></small>
                                </div>
                            </a>
                        </li>
                        <!---->
                        <li class="dropdown-footer ms">
                            <a href="javascript: loader(event,'Response');" onclick="tores()"><i class="fa fa-share"></i> 查看所有訊息</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle navbar-user" href="javascript:;">
                        <img class="img-circle" src="<%= gravatar %>">
                        <span class="hidden-xs ms"><%= name %> 教授</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right-xs ms">
                        <li class="arrow"></li>
                        <li><a href="#" onclick="loader(event,'ProfileSetting')"><i class="fa fa-fw fa-cog"></i> 個人資料設定</a>
                        </li>
                        <li><a href="#" onclick="loader(event,'PasswordReset')"><i class="fa fa-fw fa-cog"></i> 密碼重新設定</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/signout"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="page-wrapper">
        <aside class="sidebar sidebar-default">
            <div class="sidebar-profile">
                <img class="img-circle profile-image" src="<%= gravatar %>">

                <div class="profile-body ms">
                    <h4><%= name %> 教授</h4>

                    <div class="sidebar-user-links" style="color:grey">
                        資工網路工程實驗室
                    </div>
                </div>
            </div>
            <nav class="ms">
                <h5 class="sidebar-header ms">所有分頁籤</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <!-- active 選中-->
                        <a href="/" title="Dashboards">
                            <i class="fa fa-lg fa-fw fa-home"></i> 主儀表板
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Users">
                            <i class="fa fa-lg fa-fw fa-user"></i> 教授管理
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#" onclick="loader(event,'ProfileSetting')" title="Members">
                                    <i class="fa fa-fw fa-caret-right"></i> 個人資料設定
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'PasswordReset')" title="Profile">
                                    <i class="fa fa-fw fa-caret-right"></i> 密碼重設
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Users">
                            <i class="fa fa-lg fa-fw fa-group"></i> 學生管理
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#" onclick="loader(event,'AddStudent')" title="Members">
                                    <i class="fa fa-fw fa-caret-right"></i> 學生資料新增
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'ModifyStudent')" title="Profile">
                                    <i class="fa fa-fw fa-caret-right"></i> 學生資料修改
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'StudentManagement')" title="Profile">
                                    <i class="fa fa-fw fa-caret-right"></i> 學生資料管理
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'RollColl')" title="Profile">
                                    <i class="fa fa-fw fa-caret-right"></i> 學生點名
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" onclick="loader(event,'AssetsManagement')" title="Orders">
                            <i class="fa fa-lg fa-fw fa-graduation-cap"></i> 課程資源管理
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Users">
                            <i class="fa fa-lg fa-fw fa-book"></i> 平時測驗管理
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#" onclick="loader(event,'AddUsuallyTest')" title="Inbox">
                                    <i class="fa fa-fw fa-caret-right"></i> 新增平時測驗
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'UsuallyTestCorrect')" title="Message">
                                    <i class="fa fa-fw fa-caret-right"></i> 評分測驗成績
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Forms">
                            <i class="fa fa-lg fa-fw fa-edit"></i> 每週測驗管理
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="#" onclick="loader(event,'UpdateWeekTest')" title="Form Layouts">
                                    <i class="fa fa-fw fa-caret-right"></i> 更新每周測驗
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Tables">
                            <i class="fa fa-lg fa-fw  fa-lightbulb-o"></i> 平時作業管理
                        </a>
                        <ul class="nav-sub">
                            <li id="homework">
                                <a href="#" onclick="loader(event,'HomeworkUpdate')" title="Basic Tables">
                                    <i class="fa fa-fw fa-caret-right"></i> 作業內容更新
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loader(event,'HomeworkCorrect')" title="Data Tables">
                                    <i class="fa fa-fw fa-caret-right"></i> 作業批改
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" onclick="loader(event,'Response')" title="Tables">
                            <i class="fa fa-lg fa-fw fa-bullhorn"></i> 消息回應
                            <span class="label label-success pull-right">0</span>
                        </a>
                    </li>
                </ul>
                <h5 class="sidebar-header">目前狀態</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-fw fa-circle text-info"></i> 資工系教授
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-Start id="load_v"-->
        <div id="load_v" class="page-content">
            <div class="page-subheading page-subheading-md">
                <ol class="breadcrumb ms">
                    <li class="active"><a href="javascript:;">Tech Class: 日間部 - 演算法邏輯(一)</a>
                    </li>
                </ol>
            </div>

            <div class="container-fluid-md">
                <div class="col-md-7 col-lg-8">
                    <div class="panel panel-default panel-profile-details">
                        <div class="panel-body">
                            <div class="col-sm-5 text-center">
                                <img alt="image" class="img-circle img-profile" width="128px" src="<%= gravatar %>">
                            </div>
                            <div class="col-sm-7 profile-details ms">
                                <h3>李建磐 Keyboard. Lee</h3>
                                <h4 class="thin">Department</h4>
                                <p>
                                    <a href="javascript:;" class="text-gray text-no-decoration">
                                        <i class="fa fa-fw fa-user"></i> Internet Engineering Laboratory(J607A)
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="panel-body ms">
                            <div class="col-sm-5">
                                <dl>
                                    <dt>Email</dt>
                                    <dd>keyboard@gmail.com</dd>
                                </dl>
                                <dl class="margin-sm-bottom">
                                    <dt>Education</dt>
                                    <dd>NCKU - Wireless and Mobile Communications PhD</dd>
                                </dl>
                            </div>
                            <div class="col-sm-7">
                                <dl>
                                    <dt>Status</dt>
                                    <dd>Computer Science Information Engineering Department Professor</dd>
                                </dl>
                                <dl class="margin-sm-bottom">
                                    <dt>Serial number</dt>
                                    <dd>01168</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs nav-dark">
                        <li class="active ms"><a href="#tab1-1" data-toggle="tab">Roll call record</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1-1" class="tab-pane tab-pane-table active">
                            <div class="table-responsive">
                                <table class="table ms">
                                    <thead>
                                        <tr>
                                            <th>Class Sort Number</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a>#00001</a>
                                            </td>
                                            <td>
                                                Jun 05, 11:40pm
                                            </td>
                                            <td>
                                                <span class="label label-default">Whole</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a>#00002</a>
                                            </td>
                                            <td>
                                                Jun 06, 11:40pm
                                            </td>
                                            <td>
                                                <span class="label label label-danger">Most</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a>#00003</a>
                                            </td>
                                            <td>
                                                Jun 07, 11:40pm
                                            </td>
                                            <td>
                                                <span class="label label-default">Whole</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="panel" style="overflow: hidden;">
                        <div class="panel-body">
                            <h4 class="thin no-margin-top">Last Signin Record</h4>
                            <table class="table ms">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;" class="text-success semi-bold">#2310</a>
                                        </td>
                                        <td>游崇祐</td>
                                        <td class="text-success semi-bold">
                                            Sign over 72 times
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;" class="text-success semi-bold">#2308</a>
                                        </td>
                                        <td>Eric Rul</td>
                                        <td class="text-success semi-bold">
                                            Sign over 25 times
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;" class="text-success semi-bold">#2246</a>
                                        </td>
                                        <td>碼瑛久</td>
                                        <td class="text-success semi-bold">
                                            Sign over 3,200 times
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;" class="text-success semi-bold">#1940</a>
                                        </td>
                                        <td>沙沙</td>
                                        <td class="text-success semi-bold">
                                            Sign over 23 times
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="server-load" class="chart rickshaw_graph">
                            <svg width="423" height="134">
                                <path class="path" d="M0,67.48813709564739Q6.213559322033898,79.81074386057652,7.169491525423728,80.35832932706955C8.603389830508474,81.1797075268091,12.90508474576271,75.83335542716543,14.338983050847457,75.70191909304282S20.07457627118644,80.02057089928657,21.508474576271187,79.0439659858435S27.244067796610167,65.59155781940022,28.677966101694913,65.93586995861212S34.413559322033905,81.81583767312519,35.84745762711865,82.48708737796247S41.58305084745763,72.94171077084388,43.016949152542374,72.64836700698488S48.75254237288136,80.09304868286138,50.186440677966104,79.5536497393725S55.92203389830508,67.14409362794221,57.35593220338983,67.25437757209606S63.09152542372882,79.90333481949408,64.52542372881356,80.656489180911S70.26101694915256,75.75854036474095,71.6949152542373,74.7859211862652S77.43050847457629,70.76318693722438,78.86440677966102,70.93029739615346S84.60000000000001,76.39628322480621,86.03389830508475,76.4570257755561S91.76949152542375,73.00040651544953,93.20338983050848,71.53772290365237S98.93898305084747,61.61707787565969,100.37288135593221,61.830189657584526S106.1084745762712,72.32459555270445,107.54237288135594,73.66884072290077S113.27796610169491,75.44997361381762,114.71186440677965,75.27264135954768S120.44745762711864,71.62178356107492,121.88135593220339,71.89551818020132S127.61694915254239,77.3357554279395,129.05084745762713,78.00998755081173S134.7864406779661,79.85787135226776,136.22033898305085,78.63783940892358S141.95593220338986,66.9613222925883,143.3898305084746,65.80966811736987S149.1254237288136,65.83032663309206,150.55932203389833,67.12129765673916S156.2949152542373,78.36714187276954,157.72881355932205,78.71937835384094S163.46440677966103,71.49540384579423,164.89830508474577,70.64366246745311S170.63389830508476,70.62269727389337,172.0677966101695,70.20196457042974S177.8033898305085,65.38957199094871,179.23728813559325,66.43633543281683S184.97288135593223,80.24438687376538,186.40677966101697,80.66959898911097S192.14237288135595,72.14550588373575,193.5762711864407,70.68845658627276S199.31186440677968,65.5532065871143,200.74576271186442,66.09910601448115S206.4813559322034,74.9155359459147,207.91525423728814,76.14745085994132S213.65084745762715,78.42957708857654,215.0847457627119,78.41825515474734S220.82033898305087,77.15224517702728,222.2542372881356,76.0342315216493S227.98983050847457,67.31652877416307,229.4237288135593,67.2381186009675S235.15932203389835,75.11480798158779,236.5932203389831,75.25012978969349S242.32881355932204,68.90472669505672,243.76271186440678,68.59133668202452S249.4983050847458,72.43574952200362,250.93220338983053,72.11622965937141S256.6677966101695,64.92334403012406,258.10169491525426,65.3961380557025S263.8372881355932,75.80345585822589,265.271186440678,76.84416991515576S271.00677966101694,76.84313973258143,272.4406779661017,75.8032786250012S278.17627118644066,66.48356754774693,279.6101694915254,66.44555883935335S285.34576271186444,73.94173219533054,286.7796610169492,75.42319154106539S292.5152542372881,81.95915210839763,293.9491525423729,81.26015229670188S299.6847457627119,69.08953566368506,301.11864406779665,68.43319342410783S306.8542372881356,73.81897649561772,308.2881355932204,74.69672990092954S314.02372881355933,78.30187426030588,315.4576271186441,77.21072747722599S321.19322033898305,63.798007050852085,322.6271186440678,63.785262070130614S328.3627118644068,76.21598498590944,329.79661016949154,77.08327767001126S335.53220338983056,73.7086225794411,336.9661016949153,72.45818891114881S342.7016949152543,64.26854842118459,344.135593220339,64.57894098708843S349.87118644067795,74.24773340034606,351.3050847457627,75.5621145701872S357.0406779661017,78.38348015956538,358.4745762711865,77.72275268549983S364.2101694915254,69.5174571565654,365.64406779661016,68.95483982953174S371.37966101694917,71.4859495448488,372.81355932203394,72.09657941516322S378.5491525423729,76.09466427278873,379.98305084745766,75.06113853267597S385.7186440677966,62.4000406427165,387.1525423728814,61.761322014035585S392.88813559322034,68.40527517167446,394.3220338983051,68.67395224586681S400.05762711864406,63.53077395721568,401.49152542372883,64.44809275595918S407.2271186440678,77.88438949404598,408.66101694915255,77.84714023330184S414.3966101694915,65.0665679388871,415.8305084745763,64.07560014851788Q416.7864406779661,63.414954954938395,423,67.93746232960962L423,134Q416.7864406779661,134,415.8305084745763,134C414.3966101694915,134,410.0949152542373,134,408.66101694915255,134S402.9254237288136,134,401.49152542372883,134S395.7559322033899,134,394.3220338983051,134S388.58644067796615,134,387.1525423728814,134S381.41694915254243,134,379.98305084745766,134S374.2474576271187,134,372.81355932203394,134S367.0779661016949,134,365.64406779661016,134S359.90847457627126,134,358.4745762711865,134S352.7389830508475,134,351.3050847457627,134S345.5694915254237,134,344.135593220339,134S338.4000000000001,134,336.9661016949153,134S331.2305084745763,134,329.79661016949154,134S324.0610169491526,134,322.6271186440678,134S316.89152542372887,134,315.4576271186441,134S309.72203389830514,134,308.2881355932204,134S302.5525423728814,134,301.11864406779665,134S295.38305084745764,134,293.9491525423729,134S288.213559322034,134,286.7796610169492,134S281.0440677966102,134,279.6101694915254,134S273.87457627118647,134,272.4406779661017,134S266.70508474576275,134,265.271186440678,134S259.535593220339,134,258.10169491525426,134S252.36610169491527,134,250.93220338983053,134S245.19661016949152,134,243.76271186440678,134S238.02711864406783,134,236.5932203389831,134S230.85762711864405,134,229.4237288135593,134S223.68813559322035,134,222.2542372881356,134S216.51864406779663,134,215.0847457627119,134S209.34915254237288,134,207.91525423728814,134S202.17966101694915,134,200.74576271186442,134S195.01016949152543,134,193.5762711864407,134S187.8406779661017,134,186.40677966101697,134S180.67118644067799,134,179.23728813559325,134S173.50169491525423,134,172.0677966101695,134S166.3322033898305,134,164.89830508474577,134S159.1627118644068,134,157.72881355932205,134S151.99322033898306,134,150.55932203389833,134S144.82372881355934,134,143.3898305084746,134S137.6542372881356,134,136.22033898305085,134S130.48474576271187,134,129.05084745762713,134S123.31525423728814,134,121.88135593220339,134S116.14576271186439,134,114.71186440677965,134S108.97627118644068,134,107.54237288135594,134S101.80677966101695,134,100.37288135593221,134S94.63728813559322,134,93.20338983050848,134S87.46779661016949,134,86.03389830508475,134S80.29830508474576,134,78.86440677966102,134S73.12881355932204,134,71.6949152542373,134S65.95932203389832,134,64.52542372881356,134S58.78983050847457,134,57.35593220338983,134S51.62033898305085,134,50.186440677966104,134S44.45084745762712,134,43.016949152542374,134S37.2813559322034,134,35.84745762711865,134S30.11186440677966,134,28.677966101694913,134S22.942372881355933,134,21.508474576271187,134S15.772881355932203,134,14.338983050847457,134S8.603389830508474,134,7.169491525423728,134Q6.213559322033898,134,0,134Z"
                                fill="#E8524E" stroke="none" stroke-width="2"></path>
                                <path class="path" d="M0,21.450573026548057Q6.213559322033898,23.69693576353392,7.169491525423728,23.463266570895712C8.603389830508474,23.112762781938404,12.90508474576271,17.063459339829276,14.338983050847457,17.945535136974982S20.07457627118644,32.847039964153524,21.508474576271187,32.28402454235278S27.244067796610167,13.063004648627885,28.677966101694913,12.315380918967548S34.413559322033905,24.881783468842873,35.84745762711865,24.807787245749424S41.58305084745763,11.483685158820867,43.016949152542374,11.575418688033054S48.75254237288136,25.342332982316687,50.186440677966104,25.725122537871286S55.92203389830508,15.669589192357677,57.35593220338983,15.403314243579032S63.09152542372882,22.93088353309881,64.52542372881356,23.062373050084844S70.26101694915256,18.243774780392805,71.6949152542373,16.718209413439368S77.43050847457629,7.348805539313004,78.86440677966102,7.80671938055049S84.60000000000001,19.99220202535994,86.03389830508475,21.297347825814228S91.76949152542375,21.79712731100967,93.20338983050848,20.858177385093356S98.93898305084747,11.49771221498241,100.37288135593221,11.907848566651069S106.1084745762712,24.667987883981745,107.54237288135594,24.95954090177993S113.27796610169491,15.777515082792197,114.71186440677965,14.823378744632947S120.44745762711864,14.73547271237092,121.88135593220339,15.418177520187427S127.61694915254239,21.03251378889392,129.05084745762713,21.650426822798025S134.7864406779661,22.079365322525376,136.22033898305085,21.597307859228493S141.95593220338986,16.810552536934463,143.3898305084746,16.829852189829182S149.1254237288136,21.535871624756947,150.55932203389833,21.790304388175684S156.2949152542373,20.489055055153827,157.72881355932205,19.374179824016565S163.46440677966103,10.89371682860581,164.89830508474577,10.641552076803052S170.63389830508476,16.83060721467695,172.0677966101695,16.852532305988987S177.8033898305085,10.044581011807505,179.23728813559325,10.860802989923428S184.97288135593223,23.53448347419728,186.40677966101697,25.014752087148224S192.14237288135595,27.727122952671117,193.5762711864407,25.66348911943288S199.31186440677968,4.923840735057487,200.74576271186442,4.378413754765859S206.4813559322034,17.799839470791934,207.91525423728814,20.209219316516595S213.65084745762715,28.042069104945053,215.0847457627119,28.472212212012465S220.82033898305087,25.637708256227093,222.2542372881356,24.510650387190708S227.98983050847457,17.053018750679975,229.4237288135593,17.201633521648603S235.15932203389835,26.966161534792196,236.5932203389831,25.996798096877S242.32881355932204,8.48831676959017,243.76271186440678,7.507999142496658S249.4983050847458,16.284980576622335,250.93220338983053,16.193621825941875S256.6677966101695,5.52786071675136,258.10169491525426,6.594411635692069S263.8372881355932,25.077762708301336,265.271186440678,26.859131015348964S271.00677966101694,25.129219757046734,272.4406779661017,24.40809470616834S278.17627118644066,20.11484173566089,279.6101694915254,19.647880506565045S285.34576271186444,18.481058604039035,286.7796610169492,19.7384824152099S292.5152542372881,33.12766114706158,293.9491525423729,32.2221186182737S299.6847457627119,11.3770234313321,301.11864406779665,10.683057127331082S306.8542372881356,24.34930751087022,308.2881355932204,25.282455578263523S314.02372881355933,22.410110091763734,315.4576271186441,20.01453780126411S321.19322033898305,1.9127950092619415,322.6271186440678,1.3267326732673155S328.3627118644068,12.319654319517989,329.79661016949154,14.153914441317852S335.53220338983056,20.591704963416845,336.9661016949153,19.66933389126595S342.7016949152543,4.008327182335125,344.135593220339,4.930203719808901S349.87118644067795,26.92242514858015,351.3050847457627,28.888099266003707S357.0406779661017,25.56041939268381,358.4745762711865,24.586944894044464S364.2101694915254,20.176843990713568,365.64406779661016,19.15335427961027S371.37966101694917,14.146066481536542,372.81355932203394,14.352047783011471S378.5491525423729,21.294619580043232,379.98305084745766,21.213167294359565S385.7186440677966,14.937535074428448,387.1525423728814,13.537524926174783S392.88813559322034,8.345211455894896,394.3220338983051,7.213065811822915S400.05762711864406,0.1691767434683631,401.49152542372883,2.2160684854549686S407.2271186440678,27.29430313173313,408.66101694915255,27.681983231688974S414.3966101694915,8.01737528036156,415.8305084745763,6.0928694850134235Q416.7864406779661,4.809865621447999,423,8.43692527820761L423,67.93746232960962Q416.7864406779661,63.414954954938395,415.8305084745763,64.07560014851788C414.3966101694915,65.0665679388871,410.0949152542373,77.80989097255771,408.66101694915255,77.84714023330184S402.9254237288136,65.36541155470269,401.49152542372883,64.44809275595918S395.7559322033899,68.94262932005917,394.3220338983051,68.67395224586681S388.58644067796615,61.12260338535467,387.1525423728814,61.761322014035585S381.41694915254243,74.0276127925632,379.98305084745766,75.06113853267597S374.2474576271187,72.70720928547765,372.81355932203394,72.09657941516322S367.0779661016949,68.39222250249807,365.64406779661016,68.95483982953174S359.90847457627126,77.06202521143427,358.4745762711865,77.72275268549983S352.7389830508475,76.87649574002835,351.3050847457627,75.5621145701872S345.5694915254237,64.88933355299227,344.135593220339,64.57894098708843S338.4000000000001,71.20775524285652,336.9661016949153,72.45818891114881S331.2305084745763,77.95057035411307,329.79661016949154,77.08327767001126S324.0610169491526,63.77251708940914,322.6271186440678,63.785262070130614S316.89152542372887,76.1195806941461,315.4576271186441,77.21072747722599S309.72203389830514,75.57448330624136,308.2881355932204,74.69672990092954S302.5525423728814,67.7768511845306,301.11864406779665,68.43319342410783S295.38305084745764,80.56115248500612,293.9491525423729,81.26015229670188S288.213559322034,76.90465088680024,286.7796610169492,75.42319154106539S281.0440677966102,66.40755013095978,279.6101694915254,66.44555883935335S273.87457627118647,74.76341751742096,272.4406779661017,75.8032786250012S266.70508474576275,77.88488397208563,265.271186440678,76.84416991515576S259.535593220339,65.86893208128093,258.10169491525426,65.3961380557025S252.36610169491527,71.79670979673921,250.93220338983053,72.11622965937141S245.19661016949152,68.27794666899231,243.76271186440678,68.59133668202452S238.02711864406783,75.38545159779919,236.5932203389831,75.25012978969349S230.85762711864405,67.15970842777192,229.4237288135593,67.2381186009675S223.68813559322035,74.91621786627132,222.2542372881356,76.0342315216493S216.51864406779663,78.40693322091815,215.0847457627119,78.41825515474734S209.34915254237288,77.37936577396793,207.91525423728814,76.14745085994132S202.17966101694915,66.645005441848,200.74576271186442,66.09910601448115S195.01016949152543,69.23140728880978,193.5762711864407,70.68845658627276S187.8406779661017,81.09481110445655,186.40677966101697,80.66959898911097S180.67118644067799,67.48309887468496,179.23728813559325,66.43633543281683S173.50169491525423,69.78123186696611,172.0677966101695,70.20196457042974S166.3322033898305,69.791921089112,164.89830508474577,70.64366246745311S159.1627118644068,79.07161483491234,157.72881355932205,78.71937835384094S151.99322033898306,68.41226868038626,150.55932203389833,67.12129765673916S144.82372881355934,64.65801394215143,143.3898305084746,65.80966811736987S137.6542372881356,77.4178074655794,136.22033898305085,78.63783940892358S130.48474576271187,78.68421967368396,129.05084745762713,78.00998755081173S123.31525423728814,72.16925279932772,121.88135593220339,71.89551818020132S116.14576271186439,75.09530910527774,114.71186440677965,75.27264135954768S108.97627118644068,75.01308589309708,107.54237288135594,73.66884072290077S101.80677966101695,62.043301439509364,100.37288135593221,61.830189657584526S94.63728813559322,70.0750392918552,93.20338983050848,71.53772290365237S87.46779661016949,76.517768326306,86.03389830508475,76.4570257755561S80.29830508474576,71.09740785508255,78.86440677966102,70.93029739615346S73.12881355932204,73.81330200778945,71.6949152542373,74.7859211862652S65.95932203389832,81.40964354232791,64.52542372881356,80.656489180911S58.78983050847457,67.36466151624991,57.35593220338983,67.25437757209606S51.62033898305085,79.01425079588363,50.186440677966104,79.5536497393725S44.45084745762712,72.35502324312588,43.016949152542374,72.64836700698488S37.2813559322034,83.15833708279975,35.84745762711865,82.48708737796247S30.11186440677966,66.28018209782401,28.677966101694913,65.93586995861212S22.942372881355933,78.06736107240043,21.508474576271187,79.0439659858435S15.772881355932203,75.5704827589202,14.338983050847457,75.70191909304282S8.603389830508474,81.1797075268091,7.169491525423728,80.35832932706955Q6.213559322033898,79.81074386057652,0,67.48813709564739Z"
                                fill="#f2f4f6" stroke="none" stroke-width="2"></path>
                            </svg>
                            <div class="detail inactive" style="left: 150.559322033898px;"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title ms">全部登出</h3>

                            <div class="panel-options">
                                <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>When you need to, you can do so in several cases:</li>
                                <li>
                                    <ol>
                                        <li>1. Suffer Hacker invade</li>
                                        <li>2. System issue or bug keep in repair</li>
                                    </ol>
                                </li>
                                <li>Click button clean all session.</li>
                            </ul><a class="btn btn-flat btn-danger">Out</a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading ms">
                            <h4 class="panel-title ms">System Info</h4>

                            <p>Check System Usage</p>
                            <div class="panel-options">
                                <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h1>CPU 1 Speed: 25%</h1>
                            <h1>CPU 2 Speed: 25%</h1>
                            <h1>CPU 3 Speed: 25%</h1>
                            <h1>CPU 4 Speed: 25%</h1>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end Load_v-->
        </div>
        <script src="Assets/assets/libs/jquery/jquery.min.js"></script>
        <script src="Assets/assets/bs3/js/bootstrap.min.js"></script>
        <script src="Assets/assets/plugins/jquery-navgoco/jquery.navgoco.js"></script>
        <script src="Assets/js/main.js"></script>

        <!--[if lt IE 9]>
        <script src="assets/plugins/flot/excanvas.min.js"></script>
        <![endif]-->
        <script src="Assets/assets/plugins/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="Assets/demo/js/demo.js"></script>

        <script src="Assets/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="Assets/assets/plugins/jquery-jvectormap/maps/world_mill_en.js"></script>

        <!--[if gte IE 9]>-->
        <script src="Assets/assets/plugins/rickshaw/js/vendor/d3.v3.js"></script>
        <script src="Assets/assets/plugins/rickshaw/rickshaw.min.js"></script>
        <!--<![endif]-->
        <script src="Assets/assets/plugins/flot/jquery.flot.js"></script>
        <script src="Assets/assets/plugins/flot/jquery.flot.resize.js"></script>
        <script src="Assets/assets/plugins/raphael/raphael-min.js"></script>
        <script src="Assets/assets/plugins/morris/morris.min.js"></script>
        <script src="Assets/demo/js/dashboard.js"></script>
        <script type="text/javascript">
            window.addEventListener("resize", function() {
                if (window.innerWidth >= 767) {
                    //test
                }
            });
            (function() {
                checkNotReadMessage();
            })();
function cheageContext(arr,notifications,footer){
            var message = '';
            for(var i = 0;i<arr.length;i++){
                if(i == 6){
                    break;
                }
                console.log(arr[i].title);
                message = message.concat('<li><a href="javascript:;" class="notification"><div class="notification-thumb pull-left"><i class="fa fa-exclamation fa-2x text-danger"></i></div><div class="notification-body"><strong>'+arr[i].title+'</strong><br><small class="text-muted">'+arr[i].subtitle+'</small></div></a></li>');
            }
            console.log(message);
            document.getElementById('messageAll').innerHTML = notifications + message + footer;
        }
        /** get Message Data **/
        function checkNotReadMessage(){
            var gets = httpGet('../checkThing');
            var message = JSON.parse(gets);
            document.getElementById('messageCount').innerHTML = (message.notRead.length<6?message.notRead.length:'6+') || 0;
            var Notification = '<li id="alertMessageCount" class="dropdown-title bg-inverse ms">新通知 (0)</li>';
            var footer = '<li class="dropdown-footer ms"><a href="javascript: loader(event,"Response");" onclick="tores()"><i class="fa fa-share"></i> 查看所有訊息</a></li>'
            if(!!message.notRead.length == false){
                document.getElementById('messageAll').innerHTML = '<li id="alertMessageCount" class="dropdown-title bg-inverse ms">新通知 (0)</li><li><a href="javascript:;" class="notification"><div class="notification-thumb pull-left"><i class="fa fa-exclamation fa-2x text-danger"></i></div><div class="notification-body"><strong>沒有訊息的狀態</strong><br><small class="text-muted">時間: '+new Date()+'</small></div></a></li>'+footer;
            }else{
                cheageContext(message.notRead,Notification,footer);
                document.getElementById('alertMessageCount').innerHTML = "新通知 ("+((message.notRead.length<6?message.notRead.length:'6+')||0)+")";
            }
        }
        function tores(){
            loader(event,'Response');
        }
                /** Clean Message Data**/
            function cleanNotReadMessage() {
                var gets = httpGet('../checkAll');
                document.getElementById('messageCount').innerHTML = 0;
            }
            if (window.location.search == "?foward=psre&ok=1") {
                loader(event, 'PasswordReset?foward=psre&ok=1');
            }
            else if (window.location.search == "?foward=psre&err=ps") {
                loader(event, 'PasswordReset?foward=psre&err=ps');
            }
            else if (window.location.search == "?foward=astu&err=1") {
                loader(event, 'AddStudent?foward=astu&err=1');
            }
            else if (window.location.search == "?foward=astu&ok=1") {
                loader(event, 'AddStudent?foward=astu&ok=1');
            }
            else if (window.location.search == "?foward=autup&ok=1") {
                loader(event, 'AddUsuallyTest?foward=autup&ok=1');
            }
            else if (window.location.search == "?foward=autup&err=1") {
                loader(event, 'AddUsuallyTest?foward=autup&err=1');
            }
            else if (window.location.search == "?foward=uwt&ok=1") {
                loader(event, 'UpdateWeekTest?foward=uwt&ok=1');
            }
            else if (window.location.search == "?foward=uwt&err=1") {
                loader(event, 'UpdateWeekTest?foward=uwt&err=1');
            }
            else if (window.location.search == "?foward=assets&ok=1") {
                loader(event, 'AssetsManagement?foward=assets&ok=1');
            }
            else if (window.location.search == "?foward=assets&err=1") {
                loader(event, 'AssetsManagement?foward=assets&err=1');
            }else if (window.location.search == "?foward=suc&ok=1") {
                loader(event, 'UsuallyTestCorrect?foward=suc&ok=1');
            }else if (window.location.search == "?foward=suc&err=1") {
                loader(event, 'UsuallyTestCorrect?foward=suc&err=1');
            }else if (window.location.search == "?foward=HC&ok=1") {
                loader(event, 'HomeworkCorrect?foward=HC&ok=1');
            }else if (window.location.search == "?foward=HC&err=1") {
                loader(event, 'HomeworkCorrect?foward=HC&err=1');
            }
        </script>


</body>

</html>
